.row {
    display: grid; /* Força o layout grid */
    grid-template-columns: repeat(12, 1fr); /* Define 12 colunas de largura igual */
    gap: 1rem; /* Adiciona espaçamento entre as colunas */
  }
  
  .col-md-1 {
    grid-column: span 1; /* Ocupa 1 coluna */
  }
  
  .col-md-2 {
    grid-column: span 2; /* Ocupa 2 colunas */
  }
  
  .col-md-3 {
    grid-column: span 3; /* Ocupa 2 colunas */
  }

  .col-md-4 {
    grid-column: span 4; /* Ocupa 2 colunas */
  }

  .col-md-5 {
    grid-column: span 5; /* Ocupa 2 colunas */
  }

  .col-md-6 {
    grid-column: span 6; /* Ocupa 2 colunas */
  }

  .col-md-12 {
    grid-column: span 12; /* Ocupa 2 colunas */
  }


  .col-align {
    display: grid;  /* Ativa o layout grid */
    place-items: center;  /* Centraliza o conteúdo da div */
  }
  